root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = false

[*.go]
indent_style = tab

[*.{json,xaml,yml}]
indent_style = space
indent_size = 2
